@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
}

.fixed-background {
  background-image: url(/images/balloon-lg.c94920d9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-card {
  box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
  border-radius: .75rem;
}

.image-side {
  background-image: url(/images/balloon.ce8d76b9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.gogo-logo {
  display: block;
  background-image: url(https://gogo-react.coloredstrategies.com/static/media/black.e27080da.svg);
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
}